body {
    font-family: 'Merriweather', serif;
}

.upload-drop-zone {
    color: #ccc;
    border: dashed #ccc;
    height: 500px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;

}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media (max-width: 767px) {
    .browse-area-list-item {
        height: auto;
    }
}

@media (max-width: 992px) {
    .file-info-area {
        padding: 20px;
    }

    .affix {
        position: static;
    }
}

@media (min-width: 992px) {
    .file-info-area {
        min-height: 705px;
    }
    #sidebar {
        min-height: 705px;
    }

    #sidebar.affix {
        top: 0;
        position: fixed;
    }

    #sidebar.affix-top {
    }

    #sidebar.affix-bottom {
    }
}

#files {
    margin: 0;
}

.api-credit-heading {
}

.vertical-line {
    padding: 20px 0 20px 0;
    margin: 0 20px 0 20px;
    border-left: 2px solid #eee;
}

.browse-area-list-item {
    margin-bottom: 0;
}

#subfinder-info {
    padding-top: 40px;
    margin-bottom: 20px;
}

.download-steps {
    text-align: center;
    padding-bottom: 30px;
}
#lang-search {
}

footer {
    text-align: center;
    padding: 20px 0 40px 0;
}