<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/custom.css">
    <title>SubFinder</title>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Select Files</strong></div>
        <div class="panel-body">

            <!-- Standar Form -->
            <h4>Select files from your computer</h4>

            <span class="btn btn-default btn-file">
                <i class="glyphicon glyphicon-upload"></i>
                Browse <input type="file" accept="video/mp4,video/*" id="input-file" multiple>
            </span>

            <!-- Drop Zone -->
            <h4>Or drag and drop files below</h4>

            <div class="upload-drop-zone" id="drop-zone">
                Just drag and drop files here
            </div>

            <!-- Progress Bar -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>

            <!-- Upload Finished -->
            <div class="js-upload-finished">
                <h3>Files added</h3>

                <div id="files" class="list-group">
                    <div class="list-group-item media" style="overflow: visible;">
                <span class="media-left">
                    <img class="media-object" style="margin-right: 10px"
                         src="http://ia.media-imdb.com/images/M/MV5BMTQ0MzI1NjYwOF5BMl5BanBnXkFtZTgwODU3NDU2MTE@._V1._CR93,97,1209,1861_SX89_AL_.jpg_V1_SX300.jpg">
                </span>

                        <div class="media-body" style="overflow: visible;">
                            <div class="pull-right">
                                <span class="label label-info">TV Series</span>
                                <span class="label label-info">44 min</span>
                                <span class="label label-info">Comedy</span>
                                <span class="label label-info">Drama</span>
                            </div>
                            <div class="list-group-item-heading">
                                <h4>[1983] Star Wars/ Episode VI - Return of the Jedi.avi</h4>
                                <h4>Star Wars: Episode VI - Return of the Jedi
                                    <small>1983</small>
                                </h4>
                            </div>

                            <p class="list-group-item-text">Darth Vader and the Empire are building a new,
                                indestructible
                                Death Star. Meanwhile, Han Solo has been imprisoned, and Luke Skywalker has sent R2-D2
                                and
                                C-3PO to try and free him. Princess Leia - disguised as a bounty hunter - and Chewbacca
                                go
                                along as well. The final battle takes place on the moon of Endor, with its natural
                                inhabitants, the Ewoks, lending a hand to the Rebels. Will Darth Vader and the Dark Side
                                overcome the Rebels and take over the universe?
                            </p>
                            <b>Cast: </b> Simon Bird, James Buckley, Blake Harrison <br>
                            <!-- Split button -->
                            <div class="pull-right btn-group">
                                <button type="button" class="btn btn-success">Download</button>
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank"
                                           href="http://dl.opensubtitles.org/en/download/sub/src-api/vrf-f5180ba9/sid-7fm5a1fkhogvr54saqfoobe4s4/6221140">Action</a>
                                    </li>
                                    <li><a target="_blank"
                                           href="http://dl.opensubtitles.org/en/download/sub/src-api/vrf-f5180ba9/sid-7fm5a1fkhogvr54saqfoobe4s4/6221140">Another
                                        action</a></li>
                                    <li><a href="asdf">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="../static/js/custom.js"></script>
</body>
</html>